/*
Theme Name: AcroYoga Hamburg
Description: Acro Yoga Hamburg 2016 Theme
Author: Jannik Schmiedl
Author URI: http://jasch-arts.de
*/

@import url('assets/css/bootstrap.css');
@import url('assets/css/ilightbox.css');
@import url('assets/fonts/typicons.min.css');


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Base
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background: #f4f4f4;
}

.desktop {
    display: none;
}

.mobile {
    display: block;
}

.nopadding {
    padding: 0px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 50px;
}

h1 span {
    font-family: 'Open Sans', sans-serif;
    color: #ba3925;
    line-height: 45px;
    font-size: 40px;
}

.h1-trenner {
    width: 80px;
}

.readmore a{
    color: #ba3925 !important;
}

h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: normal;
}


h2 {
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

blockquote {
    border-left: inherit;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ddd;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}


a, a:hover, a:active, a:focus {
    color: #ba3925;
}

hr {
    border-top: 1px solid #dee4e8;
}

.btn-custom {
    padding-left: 30px;
    padding-right: 30px;
    color: #1e2123;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid #1e2123;
    border-radius: 0px;
    margin: 50px 0;
    transition: box-shadow 0.25s ease-out, color 0.25s ease-out;
}

.btn-custom:hover {
    box-shadow: 0px 3px 9.7px 0.3px rgba(0, 0, 0, 0.16);
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Navbar
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.navbar-fixed-top {
    position: absolute;
}

.navbar-default {
    /*background-color: rgba(0, 0, 0, 0.4);*/
    background-color: #1e2123;
    border-color: transparent;
    text-transform: uppercase;
    font-size: 18px;

}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #1e2123;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}







.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .current_page_item > a, .navbar-default .navbar-nav > .current_page_ancestor > a {
    color: #ba3925;
    padding-bottom:5px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}












.navbar-brand {
    padding: 10px 15px;
    max-width:80%;
    height: 100%;
}

.navbar-brand-img {
    height:40px;
}

.header-background {
    background-size: cover !important;
    top: 0px;
}

.fullscreen-bg {
    height:650px;
    overflow: hidden;
}

.bgvid {
    width:100%;
    height:100%;
    object-fit: cover !important;
}

.header-overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}

.headerSizeHome {
    height: 650px;
}

.headerSizePage {
    height: 350px;
}

/* END Navbar */


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Front Page
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.grid-item {
    padding: 15px;
}

.post-wrapper-home {
    background-color: #1e2123;
    box-shadow: 0px 3px 9.7px 0.3px rgba(0, 0, 0, 0.16);
    color: #fff;
}

.post-wrapper-home .excerpt-wrapper h3, .post-wrapper-home .excerpt-wrapper a:hover{
    margin-top: 10px;
    color: #fff;
}

.container-parallax {
    height: 100px;
    background-color: #2e353d;
    background-repeat: no-repeat;
    position: relative;
}

.section-overlay {
    color: #2e353d;
    height: 100px;
    position: absolute;
}

.container-parallax.front01 {
    background-image: url('assets/img/parallax/01.jpg');
}

.container-parallax.front02 {
    background-image: url('assets/img/parallax/02.jpg');
}

.container-parallax.info01 {
    background-image: url('assets/img/parallax/03.jpg');
}

.container-parallax.info02 {
    background-image: url('assets/img/parallax/04.jpg');
}

.container-parallax.info03 {
    background-image: url('assets/img/parallax/08.jpg');
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Vnav
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */


.vnav-col-left {
    padding-bottom: 15px;
}
.vnav-col-right {
    padding-bottom: 15px;
}

@media (min-width: 992px) {
    .vnav-col-left {
        padding: 0 55px 110px 110px;
    }
    .vnav-col-right {
        padding: 0 110px 110px 55px;
    }
}

.vnav-pic {
    width: 100%;
    height: auto;
    display: block;
}

.vnav-text-wrapper {
    padding: 20px;
    text-align: center;
}

.vnav-headline, .vnav-headline:hover {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
}






/* END Front Page */


/* Home Page */
.headerImageWrapper {
    overflow: hidden;
    background-color: #dee4e8;
    margin-bottom: 30px;
}

.headerImageWrapperHome {
    height: 650px;
}

.headerImageWrapperPage {
    height: 350px;
}

.headerImage {
    width: 100%;
    opacity: 0.7;
}

.headerImagePosts {
    opacity: 0.3;
}


/* END Home Page */


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Neuigkeiten
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.home-title {
    margin-bottom: 10px;
}

.home-title h3 {
    display: inline;
}

.post-wrapper {
    background-color: #fff;
    margin-bottom: 50px;
    box-shadow: 0px 3px 9.7px 0.3px rgba(0, 0, 0, 0.16);
}

.excerpt-wrapper {
    padding: 20px 20px 10px 20px;
}

.excerpt-wrapper h3, .excerpt-wrapper a:hover{
    color: #1e2123;
}

.post-wrapper h2 {
    margin-top:0px;
}


.neuigkeiten-thumbnail-wrapper {
    height: 200px;
    overflow: hidden;
}

.neuigkeiten-thumbnail-wrapper:hover {
    opacity: 0.9;
}

.neuigkeiten-thumbnail {
    width: 100%
}

.pagination h2 {
    display: none;
}

.navigation.pagination {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pagination .nav-links {
    text-align: center;
}


/* END Neuigkeiten Page */


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Single
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.meta {
    margin-top: 100px;
    margin-bottom: 35px;
    font-size: 14px;
}
p.meta {
    margin:0 0 10px 0;
    font-size: 14px;
}

/* END Single Page */

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Kalender
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.events-breadcrump a {
    margin-right: 10px;
}

.events-pagination {
    margin-bottom: 20px;
}

.page-numbers {
    font-size: 18px;
    margin-right: 10px;
}

.page-numbers.current {
    color: #ba3925;
    font-weight: bold;
}

.kalender-table {
    margin-bottom: 20px;
    background-color: #fff;
    /*border: 1px solid #ccc;*/
    box-shadow: 0px 3px 9.7px 0.3px rgba(0, 0, 0, 0.16);
}

.table-date {
    text-align: center;
    min-width: 75px;
    max-height: 80px;
    padding-top: 5px;
}

.table-date p {
    margin-bottom: 5px;
}

.kalender-monat {
    font-size: 12px;
    text-transform: uppercase;
}

.kalender-tag {
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
}

.kalender-tag_range {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}

.kalender-jahr {
    font-size: 12px;
}

.table-desc {
    padding: 10px 10px 10px 20px;
    width: 100%;
}

.kalender-title {
    font-size: 16px;
    text-transform: uppercase;
}

.kalender-text {
    font-size: 12px;
    margin-right:10px;
}

.kalender-text .typcn {
    font-size: 14px;
    margin-right: 5px;
}

.kalender-text .glyphicon{
    margin-right: 5px;
}

.kalender-farbe {
    width:3px;
    height:20px;
    margin-right:15px;
}

.legende-farbe {
    width:20px;
    height:20px;
    margin-right:15px;
    margin-left:15px;
    margin-bottom: 10px;
}

.legende {
    vertical-align: middle;
    margin: 50px auto 50px auto;
}

#classes .kalender-title a, #classes .kalender-title a:hover {
    color: #333;
}

.table-resp, .tr-resp, .td-resp {
    display: block;
}

.table-resp td:nth-child(2), td:nth-child(4), td:nth-child(6) {
    box-sizing: border-box;
    width: 30%;
    float: left;
    margin-top: 10px;
}

.table-resp td:nth-child(3), td:nth-child(5), td:nth-child(7) {
    box-sizing: border-box;
    width: 70%;
    float: left;
    margin-top: 13px;
}

.kalender-place {
    position: absolute;
    right: 0px;

    right: 15px;

}
.kalender-place img{
    height: 50px;
    width: 50px;

    position: absolute;
    right: -10px;
    top: -10px;

    /* Safari */
    -webkit-transform: rotate(15deg);

    /* Firefox */
    -moz-transform: rotate(15deg);

    /* IE */
    -ms-transform: rotate(15deg);

    /* Opera */
    -o-transform: rotate(15deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* END Kalender Page */

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Lehrer
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.container-andere {
    background-color: #1e2123;
    margin-bottom: 40px;
    color: #fff;
}

.lehrer-wrapper {
    margin-bottom: 100px;
}

.img-lehrer {
    height:100%;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.img-lehrer-wrapper:hover img {
    transform: scale(1.05);
}

.img-lehrer-wrapper {
    position:relative;
    margin-bottom: 25px;
    height:250px;
    width:250px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
}

.img-lehrer-overlay {
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background: #ba3925;
    opacity:0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    border-radius: 50%;
}
.img-lehrer-wrapper:hover .img-lehrer-overlay{
    opacity:0.4;
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);

}

.overlay-text {
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    line-height: 250px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 36px;
    opacity: 0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.img-lehrer-wrapper:hover .overlay-text {
    opacity: 1;
}


.leute-name {
    font-size: 24px;
    text-transform: uppercase;
}

.leute-text {
    font-size: 18px;
    margin-bottom: 20px;
}

.social-lehrer {
    font-size:32px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #000;
    vertical-align: middle;
    display: inline-block;
    color: #f4f4f4;
    margin-right: 5px;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
}

.social-lehrer:hover {
    transform: scale(1.05);
}

.social-lehrer-facebook {
    line-height: 35px;
}

.social-lehrer-mail {
    line-height: 32px;
}


    /* Andere Lehrer */

.andere-lehrer-wrapper {
    margin-bottom: 50px;
}

.img-andere-lehrer {
    height:100%;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.img-andere-lehrer-wrapper:hover img {
    transform: scale(1.05);
}

.img-andere-lehrer-wrapper {
    position:relative;
    margin-bottom: 15px;
    height:150px;
    width:150px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
}

.img-andere-lehrer-overlay {
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background: #ba3925;
    opacity:0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    border-radius: 50%;
}
.img-andere-lehrer-wrapper:hover .img-andere-lehrer-overlay{
    opacity:0.4;
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);

}

.overlay-andere-text {
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    line-height: 150px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 28px;
    opacity: 0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.img-andere-lehrer-wrapper:hover .overlay-andere-text {
    opacity: 1;
}


.andere-name {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.andere-text {
    font-size: 14px;
    margin-bottom: 10px;
}

.social-andere {
    font-size: 24px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #000;
    vertical-align: middle;
    display: inline-block;
    color: #f4f4f4;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
}

.social-andere:hover {
    transform: scale(1.05);
}

.social-andere-facebook {
    line-height: 28px;
}


.img-sonstige-lehrer {
    height:100%;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.img-sonstige-lehrer-wrapper:hover img {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.img-sonstige-lehrer-wrapper {
    height:80px;
    width:80px;
    float:left;
    margin-right: 25px;
}

.sonstige-text-wrapper {
    margin-bottom: 20px;
}

.sonstige-name {
    font-size: 18px;
    text-transform: uppercase;
}

.doppelslash-groß {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}

.doppelslash {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
}

.social-sonstige {
    font-size: 19px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #000;
    vertical-align: middle;
    display: inline-block;
    color: #f4f4f4;
    padding-left: 2px;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
}

.social-sonstige:hover {
    transform: scale(1.05);
}

.social-sonstige-facebook {
    line-height: 22px;
}

/* END Lehrer Page */

/* Lehrer einzeln Page */

.lehrer-portrait{
    height: 300px;
    width: 300px;
    max-width: 100%;
    margin-bottom: 20px;
    border: 3px solid #ddd;
}

.lehrer-headline {
    font-size: 28px;
    text-align: left;
    margin-bottom: 0px;
}

.lehrer-headline span {
    line-height: 35px;
    font-size: 30px;
}

.lehrer-content {
    margin-top: 50px;
}

.lehrer-social-wrapper {
    margin: 50px 0;
}

/* END Lehrer einzeln Page */

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Info Page
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */


.gallery-item {
    margin: 0;
}

.gallery-item img {
    width: 120px;
    height: 120px;
}

.gallery-caption {
    margin-left: 0;
}
.gallery-caption {
    text-align: center;
    padding: 10px;
    background-color: #1e2123;
    color: #fff;
    max-width: 120px;
    font-size: 14px;
}

.container-galerie {
    margin-bottom: 60px;
}

.container-galerie .grid-item {
    padding: 15px;
}

.back-to-galerie {
    margin-bottom: 40px;
}

.galerie-description {
    margin-bottom: 40px;
}

.gallery-title {
    margin-bottom: 30px;
}

.gallery-preview {
    margin-top: 60px;
}

.gallery-preview-item {
    height: 150px;
}



.effects .img {
    position: relative;
    float: left;
    overflow: hidden;
    max-width: 100%;
}

.effects .img img {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}

.overlay {
    display: block;
    position: absolute;
    z-index: 20;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

a.close-overlay.hidden {
    display: none;
}


a.expand {
    display: block;
    position: absolute;
    z-index: 100;
    text-align: center;
    color: #fff;
    line-height: 20px;
    font-size: 16px;
    padding: 20px 10px;
}

.effects .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}
.effects .overlay a.expand {
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.effects .img.hover .overlay {
    opacity: 1;
}
.effects .img.hover .overlay a.expand {
    top: 50%;
    margin-top: -30px;
    opacity: 1;
}




/* Glossar */

.container-glossar {
    margin-bottom: 50px;
}

.glossar-breadcrump {
    margin-bottom: 60px;
}

.glossar-breadcrump a {
    margin-right: 10px;
}

.glossar-breadcrump a.active {
    text-decoration: underline;
}

.post-wrapper-glossar {
    background-color: #fff;
    border-bottom: 3px solid #ddd;
    color: #1e2123;
    margin-bottom: 10px;
}

.excerpt-wrapper-glossar {
    padding: 10px 20px 0 20px;
}

.excerpt-wrapper-glossar h3, .excerpt-wrapper-glossar a:hover{
    margin-top: 0px;
    color: #1e2123;
}

.events-pagination .screen-reader-text{
    display: none;
}

#show-newest {
    display: none;
}

/* END Glossar */

.container-gruppen {
    margin-bottom: 50px;
}

.gruppen-table {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.container-gruppen td {
    padding: 20px 30px 20px 30px;
}

.container-gruppen tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 3px solid #ddd;
    background-color: #fff;
}

.carousel-indicators .active {
    background-color: #ba3925;
}
.carousel-indicators li {
    border-color: #ba3925;
}

.carousel-control.right, .carousel-control.left {
    background-image: inherit;
}

.carousel-button {
    position: absolute;
    bottom: 20px;
    text-align: center;
    list-style: none;
    cursor: pointer;
}

.left {
    left: 0;
    z-index: 20;
}
.right {
    right: 0;
    z-index: 20;
}

@media (min-width: 768px) {
    .left {
        left: 40%;
    }
    .right {
        right: 40%;
    }
    .carousel-button {
        bottom: 30px;
    }
}

.carousel-control {
    color: #ba3925;
}

.gruppen-icon {
    width: 30px;
    margin-right: 20px;
}

.gruppen-icon-groß {
    width: 50px;
    margin-bottom: 50px;
}

.gruppen-icon-lehrer {
    width: 40px;
    margin-right: 20px;
}

.facebook-gruppen .item {
    min-height: 400px;
}

.places-item {
    margin-bottom: 15px;
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Container
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.container-texte, .container-cogy-galerie, .container-persoenlich, .container-info, .container-einleitung {
    margin-bottom: 50px;
}



/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Update Kalender
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

label.form-error {
    display: block;
    color: red;
}

input.form-control.form-error, input:focus.form-control.form-error {
    border-color: red;
    color: #1e2123;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,0,0,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,0,0,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,0,0,.6);
}

.form-control {
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 10px;
}

.list-group-item {
    height:34px;
    padding: 6px 12px;
    border-radius: 0px;
}

.lehrer-label {
    font-weight:normal;
}

.lehrer-label input{
    margin-right: 5px;
}

.edit-event {
    float:right;
}

.caret{
    margin-left:10px;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pointer{
    cursor: pointer;
}

input[type="checkbox"] {
    margin: 0 5px 0 0;
}

/* END Update Kalender */

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Impressum
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.impressum{
    font-size: 12px;
}

/* END Impressum */

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Footer
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

footer{
    margin-top: 50px;
    background-color: #1e2123;
    color: #fff;
    padding: 30px;
    font-size: 12px;
}

#mce-EMAIL{
    display: inline-block;
    width: auto;
    margin-bottom: 0;
    border: 3px solid #fff;
    height: auto;
    font-size: 12px;
}

label {
    font-weight: normal;
    display: block;
}
.clear {
    display: inline-block;
}
.button, .button:hover {
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid #fff;
    border-radius: 0px;
    background-color: #1e2123;
    display: inline-block;
    vertical-align: inherit;
    font-size: 12px;
}
/* END Footer */




/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Querries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    body {
        font-size: 14px;
    }

    .container-parallax {
        height: 200px;
        background-size: 100%;
    }

    .custom-fixed-top {
        position:absolute;
        top:0;
        right:0;
        left:0;
    }

    .navbar-default {
        background-color: transparent;
        padding-top: 20px;
    }

    .sonstige-text-wrapper {
        line-height: 80px;
    }

    /* Lehrer einzeln Page */

    .lehrer-portrait{
        margin: 0 20px 20px 20px;
    }

    /* END Lehrer einzeln Page */

    .table-resp{
        display: table;
    }
    .tr-resp{
        display: table-row;
    }
    .td-resp {
        display: table-cell;
    }

    .table-resp td:nth-child(n+1) {
        box-sizing: inherit;
        width: auto;
        float: none;
        margin-top: 60px;
    }

    .gallery-item img {
        width: 150px;
        height: 150px;
    }
    .gallery-caption {
        max-width: 150px;
    }
    .galerie-description {
        width: 75%;
    }
    .gallery-preview-item {
        height: 250px;
    }



}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .mobile {
        display: none;
    }

    .desktop {
        display: inline;
    }



    /* Sidebar */

    .headerImageWrapperHome {
        height: 650px;
    }

    .navbar-brand-img {
        height:100px;
    }


    /* END Sidebar */

    /* Home Page */

    /* ------------------------------------------------------------ *\
    |* ------------------------------------------------------------ *|
    |* Kalender
    |* ------------------------------------------------------------ *|
    \* ------------------------------------------------------------ */

    .kalender-table {
        margin-bottom: 20px;
    }

    .table-date {
        text-align: center;
        min-width: 130px;
        max-height: 155px;
        padding-top: 10px;
    }

    .kalender-monat {
        font-size: 18px;
        text-transform: uppercase;
    }

    .kalender-tag {
        font-size: 60px;
        font-weight: bold;
        line-height: 60px;
    }
    .kalender-tag_range {
        font-size: 40px;
        line-height: 60px;
    }

    .kalender-jahr {
        font-size: 60px;
        font-size: 18px;
    }

    .table-desc {
        padding-left: 10px 10px 10px 20px;
        width: 100%;
    }

    .kalender-text .typcn {
        font-size: 24px;
        margin-right: 5px;
    }

    .kalender-text .glyphicon{
        width: 24px;
    }

    .kalender-title {
        font-size: 24px;
        text-transform: uppercase;
    }

    .kalender-text {
        font-size: 16px;
    }

    .kalender-farbe {
        width:5px;
        height:30px;
        margin-right:15px;
    }

    /* END Kalender Page */


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        font-size: 16px;
    }


}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1500px) {


}

