#wpwrap{

  background-color: $plugin-background-color;
  overflow: hidden;

}

#plugin-root-wrapper{

  .mdl-spinner{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color: $plugin-background-color;
  }
  .panel-heading{
    background-color: $plugin-background-color;
  }

}


#add-event-form-wrapper{
  padding-top: 40px;

  .nav-tabs{
    li:focus{
      outline: none;
    }
  }


  .datepicker{
    display: inline-block;

    input{
      background-color: #fff;
    }
  }

  .select-thumbnail{
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
  .select-inner{
    vertical-align: middle;
  }
  .material-icons.select-inner{
    margin-right: 10px;
    font-size: 20px;
  }

}

#edit-events-wrapper{
  margin-top: 50px;

  .event-list-panel{
    min-height: 500px;
  }

  .list-group-item{
    padding: 0;
  }
}




#initial-data-form-wrapper{

  .initial-color-input{
    height: 60px;

    input{
      vertical-align: middle;
      height: 40px;
      width: 50px;
      margin-right: 20px;
    }
  }

  .initial-places-input{
    height: 60px;

    .place-icon{
      width: 40px;
      height: 40px;
    }

    input{
      display: inline-block;
      vertical-align: middle;
      height: 40px;
      margin-right: 20px;
    }

    .place-icon-input{
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    .place-icon-input + label {
      margin-right: 20px;
    }
  }

  .initial-teacher-input{
    height: 60px;

    .teacher-avatar{
      width: 40px;
      height: 40px;
    }

    input{
      vertical-align: middle;
      height: 40px;
      margin-right: 20px;
    }

    .teacher-avatar-input{
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    .teacher-avatar-input + label {
      margin-right: 20px;
    }
  }
}