<template>

    <div
            class="add-event-form-wrapper"
    >

        <h4>{{ formTitle }} hinzufügen</h4>


        <p
                v-if="showError"
                class="bg-danger"
        >Es gab einen Fehler beim Eintragen deines Events.</p>
        <p
                v-if="showSuccess"
                class="bg-success"
        >Dein Event wurde erfolgreich hinzugefügt.</p>

        <form>
            <div
                    class="form-group row"
                    :class="{'has-error' : validation.title.error, 'has-warning' : validation.title.warning}"
            >
                <label
                        class="col-xs-2 col-form-label"
                        :for="formTitle.toLowerCase() + '-title'"
                >Titel</label>
                <div class="col-xs-10">
                    <input
                            :id="formTitle.toLowerCase() + '-title'"
                            type="text"
                            class="form-control"
                            placeholder="Titel"

                            v-model="eventTitle"
                    >
                    <span class="help-block" v-show="validation.title.error">Du musst einen Titel auswählen</span>
                    <span class="help-block" v-show="validation.title.warning">Dein Titel darf nicht länger als 80 Zeichen lang sein.</span>
                </div>
            </div>

            <!--
                Only if is NO Event
            -->

            <div class="form-group row" v-if="!isEvent">
                <label
                        class="col-xs-2 col-form-label"
                        :for="formTitle.toLowerCase() + '-dayofweek'">
                    Wochentag
                </label>
                <div class="col-xs-10">
                    <select
                            :id="formTitle.toLowerCase() + '-dayofweek'"
                            class="form-control"
                            v-model="dayofweek"
                    >

                        <option v-for="day in weekdays">{{day}}</option>

                    </select>
                </div>
            </div>

            <!-- -->

            <div class="form-group row">
                <label
                        class="col-xs-2 col-form-label"
                        :for="formTitle.toLowerCase() + '-startdate'">
                    Start
                </label>
                <div class="col-xs-10 form-inline">

                    <!--
                        Only if is an Event
                    -->

                    <datepicker

                            v-if="isEvent"

                            :id="formTitle.toLowerCase() + '-startdate'"
                            v-model="startdate"
                            :disabled="{'from': enddate}"

                            @selected="startChanged"

                            :format="dateFormat"

                    ></datepicker>

                    <!-- -->

                    <input

                            :id="formTitle.toLowerCase() + '-starttime'"
                            class="form-control"
                            type="time"

                            v-model="starttime"
                    >

                </div>
            </div>


            <div class="form-group row">
                <label
                        class="col-xs-2 col-form-label"
                        :for="formTitle.toLowerCase() + '-enddate'">
                    Ende
                </label>
                <div class="col-xs-10 form-inline">

                    <!--
                        Only if is an Event
                    -->

                    <datepicker

                            v-if="isEvent"

                            :id="formTitle.toLowerCase() + '-enddate'"
                            v-model="enddate"
                            :disabled="{'to': startdateMinusOne}"

                            @selected="endChanged"

                            :format="dateFormat"

                    ></datepicker>

                    <!-- -->

                    <input

                            :id="formTitle.toLowerCase() + '-endtime'"
                            class="form-control"
                            type="time"

                            v-model="endtime"
                    >
                </div>
            </div>


            <div
                    class="form-group row"
                    :class="{'has-error' : validation.address.error, 'has-warning' : validation.address.warning}"
            >
                <label
                        class="col-xs-2 col-form-label"
                        :for="formTitle.toLowerCase() + '-address'"
                >
                    Ort
                </label>
                <div class="col-xs-10">
                    <input
                            :id="formTitle.toLowerCase() + '-address'"
                            class="form-control"
                            type="text"
                            placeholder="Ort"
                            v-model="address"

                    >
                    <span class="help-block" v-show="validation.address.error">Du musst einen Ort auswählen</span>
                    <span class="help-block" v-show="validation.address.warning">Die Adresse darf nicht länger als 100 Zeichen lang sein.</span>
                </div>
            </div>

            <!--
                        Only if is NO Jam
            -->

            <div
                    v-if="!isJam"
                    class="form-group row"
                    :class="{'has-warning' : validation.desc.warning}"
            >
                <label
                        class="col-xs-2 col-form-label"
                        :for="formTitle.toLowerCase() + '-desc'"
                >
                    Beschreibung
                </label>
                <div class="col-xs-10">
                    <textarea
                            :id="formTitle.toLowerCase() + '-desc'"
                            class="form-control"
                            type="text"
                            placeholder="Beschreibung"
                            v-model="description"
                    >
                    </textarea>
                    <span class="help-block" v-show="validation.desc.warning">Deine Beschreibung darf nicht länger als 200 Zeichen lang sein.</span>
                </div>
            </div>

            <!-- -->

            <div class="form-group row">
                <label
                        class="col-xs-2 col-form-label"
                        :for="formTitle.toLowerCase() + '-place'"
                >
                    Ort
                </label>
                <div class="col-xs-10">
                    <select
                            :id="formTitle.toLowerCase() + '-place'"
                            class="selectpicker"
                            v-model="place"
                    >

                        <option
                                v-for="place in places"

                                :value="parseInt(place.id)"
                                :data-content="'<img class=&quot;select-thumbnail&quot; src=&quot;' + place.icon_url + '&quot;><span class=&quot;select-inner&quot;>' + place.name + '</span>'"

                        >{{place.name}}</option>

                    </select>
                </div>
            </div>

            <div
                    class="form-group row"
                    :class="{'has-warning' : validation.price.warning}"
            >
                <label
                        class="col-xs-2 col-form-label"
                        :for="formTitle.toLowerCase() + '-price'"
                >
                    Preis
                </label>
                <div class="col-xs-10">
                    <input
                            :id="formTitle.toLowerCase() + '-price'"
                            class="form-control"
                            type="text"
                            placeholder="Preis"
                            v-model="price"

                    >
                    <span class="help-block" v-show="validation.price.warning">Dein Preis-Text darf nicht länger als 80 Zeichen lang sein.</span>
                </div>
            </div>

            <div
                    class="form-group row"
                    :class="{'has-error' : validation.color.error}"
            >
                <label
                        class="col-xs-2 col-form-label"
                        :for="formTitle.toLowerCase() + '-color'"
                >
                    Farbe
                </label>
                <div class="col-xs-10">
                    <select
                            :id="formTitle.toLowerCase() + '-color'"
                            class="selectpicker"
                            v-model="color"
                            multiple
                    >

                        <option
                                v-for="color in colors"

                                :value="parseInt(color.id)"
                                :data-content="'<i class=&quot;material-icons select-inner&quot; style=&quot;color:'+ color.value +';&quot;>&#xE3FA;</i><span class=&quot;select-inner&quot;>' + color.value + '</span>'"


                        >{{color.value}}</option>

                    </select>
                    <span class="help-block" v-show="validation.color.error">Wähle mindestens eine Farbe aus.</span>
                </div>
            </div>

            <div
                    class="form-group row"
                    :class="{'has-error' : validation.teacher.error}"
            >
                <label
                        class="col-xs-2 col-form-label"
                        :for="formTitle.toLowerCase() + '-teacher'"
                >
                    Lehrer
                </label>
                <div class="col-xs-10">
                    <select
                            :id="formTitle.toLowerCase() + '-teacher'"
                            class="selectpicker"
                            v-model="teacher"
                            multiple
                    >

                        <option
                                v-for="teacher in teachers"

                                :value="parseInt(teacher.id)"
                                :data-content="'<img class=&quot;select-thumbnail&quot; src=&quot;' + teacher.avatar_url + '&quot;><span class=&quot;select-inner&quot;>' + teacher.name + ' ' + teacher.lastname + '</span>'"

                        >{{teacher.name}} {{teacher.lastname}}</option>

                    </select>
                    <span class="help-block" v-show="validation.teacher.error">Wähle mindestens einen Lehrer aus.</span>
                </div>
            </div>

            <div
                    class="form-group row"
                    :class="{'has-error' : validation.url.error, 'has-warning' : validation.url.warning}"
            >
                <label
                        class="col-xs-2 col-form-label"
                        :for="formTitle.toLowerCase() + '-url'"
                >
                    Link
                </label>
                <div class="col-xs-10">
                    <input
                            :id="formTitle.toLowerCase() + '-url'"
                            class="form-control"
                            type="url"
                            placeholder="Link"
                            v-model="url"
                    >
                    <span class="help-block" v-show="validation.url.error">Gib eine gültige URL an.</span>
                    <span class="help-block" v-show="validation.url.warning">Die URL darf nicht länger als 200 Zeichen lang sein.</span>
                </div>
            </div>

            <button
                    class="btn btn-default"

                    @click.prevent="emptyForm"

            >Abbrechen</button>

            <button
                    class="btn btn-primary"
                    :disabled="!validForm"

                    @click.prevent="submitForm"

            >Absenden</button>

        </form>

    </div>

</template>


<script>

    module.exports = {

        props: [

            'formTitle',
            'eventType',
            'colors',
            'places',
            'teachers',

        ],

        data(){
            return {

                isEvent: true,
                isClass: false,
                isJam: false,

                eventId: false,

                eventTitle: '',
                startdate: moment().toDate(),
                startdateMinusOne: moment().subtract(1, 'days').toDate(),
                starttime: moment().format('HH:mm'),
                enddate: moment().toDate(),
                endtime: moment().add(2, 'hours').format('HH:mm'),
                dayofweek: moment().format('dddd'),

                address: '',
                description: '',
                place: 1,
                price: '',
                color: [1],
                teacher: [1],
                url: '',

                weekdays: moment.weekdays(),
                dateFormat: 'd.MM.yyyy',

                showSuccess: false,
                showError: false,

                validation:{
                    title: {
                        error: false,
                        warning: false
                    },
                    address: {
                        error: false,
                        warning: false
                    },
                    desc: {
                        warning: false
                    },
                    price: {
                        warning: false
                    },
                    color: {
                        error: false
                    },
                    teacher: {
                        error: false
                    },
                    url: {
                        error: false,
                        warning: false
                    }
                },

                validForm: false,

                emptiedForm: false,

            }
        },

        created() {

            this.isEvent = parseInt(this.eventType) === 1;
            this.isClass = parseInt(this.eventType) === 2;
            this.isJam = parseInt(this.eventType) === 3;

            var vm = this;

            this.$root.$on('edit-event', function(e){
                vm.setUpdateData(e)
            });

        },

        mounted(){

            $('.selectpicker').selectpicker();

            $('.datepicker input').addClass('form-control');

        },

        methods: {

            setUpdateData(e){
                if(parseInt(e.event.event_type) == this.eventType){

                    this.$emit('show-event-tab');

                    let colors = e.event.colors;
                    for(var i in colors){
                        colors[i] = parseInt(colors[i]);
                    }

                    let teachers = e.event.teachers;
                    for(var i in teachers){
                        teachers[i] = parseInt(teachers[i]);
                    }

                    this.eventId = parseInt(e.event.id);
                    this.eventTitle = e.event.title;
                    if(e.event.startdate){
                        this.startdate = moment(e.event.startdate).toDate();
                        this.startdateMinusOne = moment(e.event.startdate).subtract(1, 'days').toDate();
                    }
                    this.starttime = moment(e.event.starttime, "HH:mm:ss").format('HH:mm');
                    this.enddate = moment(e.event.enddate).toDate();
                    this.endtime = moment(e.event.endtime, "HH:mm:ss").format('HH:mm');
                    this.dayofweek = this.weekdays[parseInt(e.event.day_of_week)];

                    this.address = e.event.address;
                    if(e.event.description)
                        this.description = e.event.description;
                    this.place = parseInt(e.event.place);
                    this.price = e.event.price;
                    this.color = colors;
                    this.teacher = teachers;
                    this.url = e.event.url;

                    setTimeout(function(){
                        $('.selectpicker').selectpicker('refresh');
                    }, 1);
                }
            },

            submitForm(){

                let form_data = new FormData();

                form_data.append('action', 'event_form_submit');

                if(this.eventId)
                    form_data.append('id', this.eventId);

                form_data.append('title', this.eventTitle);
                if(!this.isJam)
                    form_data.append('description', this.description);
                if(this.isEvent)
                    form_data.append('startdate', moment(this.startdate).format('YYYY-MM-DD'));
                if(this.isEvent)
                    form_data.append('enddate', moment(this.enddate).format('YYYY-MM-DD'));
                form_data.append('starttime', this.starttime);
                form_data.append('endtime', this.endtime);
                if(!this.isEvent)
                    form_data.append('day_of_week', _.indexOf(this.weekdays, this.dayofweek));
                form_data.append('address', this.address);
                form_data.append('price', this.price);
                form_data.append('event_type', parseInt(this.eventType));
                form_data.append('place', this.place);
                form_data.append('url', this.url);
                form_data.append('colors', JSON.stringify(this.color));
                form_data.append('teachers', JSON.stringify(this.teacher));

                var vm = this;

                $.ajax({
                    method: 'POST',
                    url: ajaxurl,
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    success: function(success){

                        if(!success){
                            setTimeout(function(){
                                vm.showError = false;
                            }, 5000);
                            vm.showError = true;
                        }else{
                            setTimeout(function(){
                                vm.showSuccess = false;
                            }, 5000);
                            vm.showSuccess = true;
                        }

                        vm.emptyForm();

                        vm.$emit('submitted-event');
                    }
                });

            },

            emptyForm(){
                this.emptiedForm = true;

                this.eventTitle = '';
                this.startdate = moment().toDate();
                this.startdateMinusOne = moment().subtract(1, 'days').toDate();
                this.starttime = moment().format('HH:mm');
                this.enddate = moment().toDate();
                this.endtime = moment().add(2, 'hours').format('HH:mm');
                this.dayofweek = moment().format('dddd');

                this.address = '';
                this.description = '';
                this.place = 1;
                this.price = '';
                this.color = [1];
                this.teacher = [1];
                this.url = '';

                let vm = this;
                setTimeout(function(){
                    $('.selectpicker').selectpicker('refresh');
                    vm.validation = {
                        title: {
                            error: false,
                                warning: false
                        },
                        address: {
                            error: false,
                                warning: false
                        },
                        desc: {
                            warning: false
                        },
                        price: {
                            warning: false
                        },
                        color: {
                            error: false
                        },
                        teacher: {
                            error: false
                        },
                        url: {
                            error: false,
                                warning: false
                        }
                    };
                    vm.emptiedForm = false;
                }, 4);


            },

            startChanged(date){
                this.startdate = date;
            },

            endChanged(date){
                this.enddate = date;
            },

            validUrl(url){
                var pattern = new RegExp(
                    "^" +
                    // protocol identifier
                    "(?:(?:https?|ftp)://)|(www\.)" +
                    // user:pass authentication
                    "(?:\\S+(?::\\S*)?@)?" +
                    "(?:" +
                    // IP address exclusion
                    // private & local networks
                    "(?!(?:10|127)(?:\\.\\d{1,3}){3})" +
                    "(?!(?:169\\.254|192\\.168)(?:\\.\\d{1,3}){2})" +
                    "(?!172\\.(?:1[6-9]|2\\d|3[0-1])(?:\\.\\d{1,3}){2})" +
                    // IP address dotted notation octets
                    // excludes loopback network 0.0.0.0
                    // excludes reserved space >= 224.0.0.0
                    // excludes network & broacast addresses
                    // (first & last IP address of each class)
                    "(?:[1-9]\\d?|1\\d\\d|2[01]\\d|22[0-3])" +
                    "(?:\\.(?:1?\\d{1,2}|2[0-4]\\d|25[0-5])){2}" +
                    "(?:\\.(?:[1-9]\\d?|1\\d\\d|2[0-4]\\d|25[0-4]))" +
                    "|" +
                    // host name
                    "(?:(?:[a-z\\u00a1-\\uffff0-9]-*)*[a-z\\u00a1-\\uffff0-9]+)" +
                    // domain name
                    "(?:\\.(?:[a-z\\u00a1-\\uffff0-9]-*)*[a-z\\u00a1-\\uffff0-9]+)*" +
                    // TLD identifier
                    "(?:\\.(?:[a-z\\u00a1-\\uffff]{2,}))" +
                    // TLD may end with dot
                    "\\.?" +
                    ")" +
                    // port number
                    "(?::\\d{2,5})?" +
                    // resource path
                    "(?:[/?#]\\S*)?" +
                    "$", "i"
                );
                if(pattern.test(url) || url.length == 0) {
                    return true;
                } else {
                    return false;
                }
            },

            validateForm(){

                if(
                    this.eventTitle.length == 0 ||
                    this.eventTitle.length > 80 ||
                    this.address.length == 0 ||
                    this.address.length > 100 ||
                    this.description.length > 200 ||
                    this.price.length > 80 ||
                    this.color.length == 0 ||
                    this.teacher.length == 0 ||
                    !this.validUrl(this.url)
                ){
                    return false;
                }else{
                    return true;
                }
            },

        },

        watch:{
            'eventTitle': function(val){
                if(!this.emptiedForm){
                    if(val.length == 0){
                        this.validation.title.error = true;
                    }else{
                        this.validation.title.error = false;
                    }
                    if(val.length > 80){
                        this.validation.title.warning = true;
                    }else{
                        this.validation.title.warning = false;
                    }
                    this.validForm = this.validateForm();
                }
            },
            'starttime': function(val, oldVal){
                if(moment(this.startdate).unix() == moment(this.enddate).unix()){
                    if(moment(val, "HH:mm").unix() >= moment(this.endtime, "HH:mm").unix()){
                        this.starttime = oldVal;
                    }
                }
            },
            'endtime': function(val, oldVal){
                if(moment(this.startdate).unix() == moment(this.enddate).unix()){
                    if(moment(val, "HH:mm").unix() <= moment(this.starttime, "HH:mm").unix()){
                        this.endtime = oldVal;
                    }
                }
            },
            'address': function(val){
                if(!this.emptiedForm) {
                    if (val.length == 0) {
                        this.validation.address.error = true;
                    } else {
                        this.validation.address.error = false;
                    }
                    if (val.length > 100) {
                        this.validation.address.warning = true;
                    } else {
                        this.validation.address.warning = false;
                    }
                    this.validForm = this.validateForm();
                }
            },
            'description': function(val){
                if(!this.emptiedForm) {
                    if (val.length > 200) {
                        this.validation.desc.warning = true;
                    } else {
                        this.validation.desc.warning = false;
                    }
                    this.validForm = this.validateForm();
                }
            },
            'price': function(val){
                if(!this.emptiedForm) {
                    if (val.length > 80) {
                        this.validation.price.warning = true;
                    } else {
                        this.validation.price.warning = false;
                    }
                    this.validForm = this.validateForm();
                }
            },
            'color': function(val){
                if(!this.emptiedForm) {
                    if (val.length == 0) {
                        this.validation.color.error = true;
                    } else {
                        this.validation.color.error = false;
                    }
                    this.validForm = this.validateForm();
                }
            },
            'teacher': function(val){
                if(!this.emptiedForm) {
                    if (val.length == 0) {
                        this.validation.teacher.error = true;
                    } else {
                        this.validation.teacher.error = false;
                    }
                    this.validForm = this.validateForm();
                }
            },
            'url': function(val){
                if(!this.emptiedForm) {
                    if (!this.validUrl(val)) {
                        this.validation.url.error = true;
                    } else {
                        this.validation.url.error = false;
                    }
                    this.validForm = this.validateForm();
                }
            },
        }
    }
</script>
