<template>

    <div class="event-list-wrapper">

        <p
                v-if="showError"
                class="bg-danger"
        >Das Event konnte nicht gelöscht werden.</p>
        <p
                v-if="showSuccess"
                class="bg-success"
        >Das Event wurde gelöscht.</p>


        <ul class="list-group events-container mdl-list">

            <li
                    v-for="(event, index) in events"
                    class="list-group-item"
            >
                <div class="mdl-list__item mdl-list__item--two-line">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">event</i>
                    <span>{{event.title}}</span>
                    <span class="mdl-list__item-sub-title">
                        {{formatDate(event.startdate, event.enddate, event.day_of_week)}} | {{formatTime(event.starttime, event.endtime)}}
                    </span>
                </span>
                    <a class="mdl-list__item-secondary-action" @click.prevent="edit_event(index)"><i class="material-icons">&#xE254;</i></a>
                    <a class="mdl-list__item-secondary-action" @click.prevent="delete_event(event.id, index)"><i class="material-icons">delete</i></a>
                </div>
            </li>

        </ul>

    </div>

</template>


<script>

    module.exports = {

        props: [

            'events',

        ],

        data(){
            return {

                showSuccess: false,
                showError: false,

            }
        },

        created() {


        },

        mounted(){


        },

        methods: {

            edit_event(index){

                this.$root.$emit('edit-event', {event: this.events[index]});

            },

            delete_event(id, index){

                console.log(id);

                let form_data = new FormData();

                form_data.append('action', 'delete_event');
                form_data.append('id', id);

                var vm = this;

                $.ajax({
                    method: 'POST',
                    url: ajaxurl,
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    success: function(success){

                        if(!success){
                            setTimeout(function(){
                                vm.showError = false;
                            }, 5000);
                            vm.showError = true;
                        }else{

                            vm.$emit('delete-from-events', index);

                            setTimeout(function(){
                                vm.showSuccess = false;
                            }, 5000);
                            vm.showSuccess = true;
                        }

                        vm.$emit('deleted-event');

                    }
                });

            },

            formatDate(start, end, weekday){
                if(start == null){
                    return moment.weekdays()[parseInt(weekday)];
                }else{
                    if(start == end){
                        return moment(start).format('Do MMMM YYYY');
                    }else{
                        return moment(start).format('Do MMMM YYYY') + ' - ' + moment(end).format('Do MMMM YYYY');;
                    }
                }
            },
            formatTime(start, end){
                return moment(start, 'HH:mm:ss').format('HH:mm') + ' - ' + moment(end, 'HH:mm:ss').format('HH:mm') + ' Uhr';
            },



        },

        watch:{

        }
    }
</script>
