<template>

    <div id="initial-data-form-wrapper">


        <h4>Richte deinen Kalender ein.</h4>

        <form id="init-calendar">
            <h5>Farben, um deine Veranstaltung zu Kategorisieren</h5>
            <div
                    class="initial-color-input"
                    v-for="(color, index) in colors"
            >
                <input
                        :id="'color-' + index"
                        type="color"

                        v-model="color.value"
                >
                <button
                        @click.prevent="deleteColor(index)"
                        class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
                >
                    <i class="material-icons">delete</i>
                </button>
            </div>
            <button
                    class="mdl-button mdl-js-button mdl-button--raised"
                    @click.prevent="addColor"
            >Farbe hinzufügen</button>

            <h5>Orte, an denen die Verstaltungen stattfinden</h5>
            <div
                    class="initial-places-input"
                    v-for="(place, index) in places"
            >
                <img class="place-icon" :src="place.icon_url">
                <input
                        :id="'place-' + index"
                        type="text"
                        placeholder="Ort"

                        v-model="place.name"
                >
                <input
                        :id="'place-icon-' + index"
                        class="place-icon-input"
                        type="file"

                        @change="onPlaceIconChange($event, index)"
                >
                <label
                    :for="'place-icon-' + index"
                    class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
                ><i class="material-icons">image</i>
                </label>
                <button
                        @click.prevent="deletePlace(index)"
                        class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
                >
                    <i class="material-icons">delete</i>
                </button>
            </div>
            <button
                    class="mdl-button mdl-js-button mdl-button--raised"
                    @click.prevent="addPlace"
            >Ort hinzufügen</button>

            <h5>Lehrer, die bei dir unterrichten sollen.</h5>
            <div
                    class="initial-teacher-input"
                    v-for="(teacher, index) in teachers"
            >
                <img class="teacher-avatar" :src="teacher.avatar_url">
                <input
                        :id="'teacher-name-' + index"
                        type="text"
                        placeholder="Vorname"

                        v-model="teacher.name"
                >
                <input
                        :id="'teacher-lastname-' + index"
                        type="text"
                        placeholder="Nachname"

                        v-model="teacher.lastname"
                >
                <input
                        :id="'teacher-avatar-' + index"
                        class="teacher-avatar-input"
                        type="file"

                        @change="onTeacherAvatarChange($event, index)"
                >
                <label
                        :for="'teacher-avatar-' + index"
                        class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
                ><i class="material-icons">image</i>
                </label>
                <button
                        @click.prevent="deleteTeacher(index)"
                        class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
                >
                    <i class="material-icons">delete</i>
                </button>
            </div>
            <button
                    class="mdl-button mdl-js-button mdl-button--raised"
                    @click.prevent="addTeacher"
            >Lehrer hinzufügen</button>

            <div>
                <button
                        v-if="propColors"
                        class="mdl-button mdl-js-button mdl-button--raised"
                        @click.prevent="backToMain"
                >Abbrechen</button>
                <button
                        class="mdl-button mdl-js-button mdl-button--raised"
                        @click.prevent="submitForm"
                >Abschließen</button>
            </div>
        </form>





    </div>

</template>


<script>

    module.exports = {

        props: [
            'propColors',
            'propPlaces',
            'propTeachers'


        ],

        data(){
            return {

                colors: [{
                    value: '#FFFFFF'
                }],

                places: [
                    {
                        name: 'Welt',
                        icon_url: '',
                        file: ''
                    },
                    {
                        name: 'Deutschland',
                        icon_url: '',
                        file: ''
                    },
                    {
                        name: 'Deine Stadt',
                        icon_url: '',
                        file: ''
                    },
                    {
                        name: 'Dein Veranstaltungsort',
                        icon_url: ''
                    }

                ],

                teachers: [{
                    name: '',
                    lastname: '',
                    avatar_url: '',
                    file: ''
                }]

            }
        },

        created() {

            if(this.propColors){

                this.colors = this.propColors;

            }
            if(this.propPlaces){

                var places = this.propPlaces;
                for(var i in places){
                    places[i].file = '';
                }
                this.places = places;

            }
            if(this.propTeachers){

                var teachers = this.propTeachers;
                for(var i in teachers){
                    teachers[i].file = '';
                }
                this.teachers = teachers;

            }

        },

        methods: {

            backToMain(){
                this.$emit('has-been-initialized');
            },

            submitForm(){

                var vm = this;

                let form_data = new FormData();

                form_data.append('action', 'init_plugin_database');

                form_data.append('colors', this.colors.length);
                for(var i in this.colors){
                    if(this.colors[i].id)
                        form_data.append('color-'+i+'-id', parseInt(this.colors[i].id));
                    form_data.append('color-'+i+'-value', this.colors[i].value);
                }

                form_data.append('places', this.places.length);
                for(var i in this.places){
                    if(this.places[i].id)
                        form_data.append('place-'+i+'-id', parseInt(this.places[i].id));
                    form_data.append('place-'+i+'-name', this.places[i].name);
                    if(this.places[i].file){
                        form_data.append('place-'+i+'-icon', this.places[i].file);
                    }
                }

                form_data.append('teachers', this.teachers.length);
                for(var i in this.teachers){
                    if(this.teachers[i].id)
                        form_data.append('teacher-'+i+'-id', parseInt(this.teachers[i].id));
                    form_data.append('teacher-'+i+'-name', this.teachers[i].name);
                    form_data.append('teacher-'+i+'-lastname', this.teachers[i].lastname);
                    if(this.teachers[i].file)
                        form_data.append('teacher-'+i+'-avatar', this.teachers[i].file);
                }


                $.ajax({
                    method: 'POST',
                    url: ajaxurl,
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    success: function(data){
                        vm.formSubmitted(data);
                    }
                });

            },

            formSubmitted(data){

                this.$emit('has-been-initialized');

            },

            addColor(){
                this.colors.push(
                        {
                            value: '#FFFFFF'
                        }
                );
            },

            deleteColor(index){
                this.colors.splice(index, 1);
            },

            addPlace(){
                this.places.push(
                        {
                            name: 'Neuer Ort',
                            icon_url: '',
                            file: ''
                        }
                );
            },

            deletePlace(index){
                this.places.splice(index, 1);
            },

            onPlaceIconChange(e, index){

                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;

                var reader = new FileReader();
                var vm = this;

                reader.onload = (e) => {
                    vm.places[index].icon_url = e.target.result;
                };

                vm.places[index].file = files[0];

                reader.readAsDataURL(files[0]);
            },

            addTeacher(){
                this.teachers.push(
                        {
                            name: '',
                            lastname: '',
                            avatar_url: '',
                            file: ''
                        }
                );
            },

            deleteTeacher(index){
                this.teachers.splice(index, 1);
            },

            onTeacherAvatarChange(e, index){

                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;

                var reader = new FileReader();
                var vm = this;

                reader.onload = (e) => {
                    vm.teachers[index].avatar_url = e.target.result;
                };

                vm.teachers[index].file = files[0];

                reader.readAsDataURL(files[0]);
            },

        }
    }
</script>
