<template>

    <div id="plugin-root-wrapper">

        <div
                v-if="loading"
                class="loading"
        >
            <div class="mdl-spinner mdl-js-spinner is-active"></div>
        </div>


        <init-database
            v-if="!hasBeenInitialized"

            :prop-colors="colors"
            :prop-places="places"
            :prop-teachers="teachers"

            @has-been-initialized="gotInitialized"
        >
        </init-database>

        <div
                v-if="hasBeenInitialized && !loading"
                id="add-event-form-wrapper"

                class="container"
        >

            <div
                class="row"
            >
                <div
                        class="col-xs-offset-2 col-xs-8"
                >

                    <ul class="nav nav-tabs" style="margin-bottom: 50px;">
                        <li role="presentation" :class="{active : isEvent}"><a href="#" @click.prevent="showEventForm">Veranstaltung hinzufügen</a></li>
                        <li role="presentation" :class="{active : isClass}"><a href="#" @click.prevent="showClassForm">Klasse hinzufügen</a></li>
                        <li role="presentation" :class="{active : isJam}"><a href="#" @click.prevent="showJamForm">Jam hinzufügen</a></li>
                        <li role="presentation" :class="{active : !hasBeenInitialized}"><a href="#" @click.prevent="showInit">Neu einrichten</a></li>
                    </ul>

                    <!-- Define Event Type (default: 'event') // 'event', 'class', 'jam' -->
                    <!-- Define Title (random String, shown as Headline) -->

                    <add-event-input
                            form-title="Veranstaltung"
                            event-type="1"
                            v-show="isEvent"

                            :colors="colors"
                            :places="places"
                            :teachers="teachers"

                            @submitted-event="getEvents"

                            @show-event-tab="showEventForm"

                    ></add-event-input>
                    <add-event-input
                            form-title="Klasse"
                            event-type="2"
                            v-show="isClass"

                            :colors="colors"
                            :places="places"
                            :teachers="teachers"

                            @submitted-event="getEvents"

                            @show-event-tab="showClassForm"

                    ></add-event-input>
                    <add-event-input
                            form-title="Jam"
                            event-type="3"
                            v-show="isJam"

                            :colors="colors"
                            :places="places"
                            :teachers="teachers"

                            @submitted-event="getEvents"

                            @show-event-tab="showJamForm"

                    ></add-event-input>

                </div>
            </div>


            <div
                    v-if="hasEvents"
                    id="edit-events-wrapper"
                    class="container"
            >

                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8">

                        <div class="panel panel-default event-list-panel">

                            <div class="panel-heading">
                                <ul class="nav nav-tabs" style="margin-bottom: 0px;">
                                    <li role="presentation" :class="{active : showEvent}"><a href="#" @click.prevent="showEventList">Veranstaltungen</a></li>
                                    <li role="presentation" :class="{active : showClass}"><a href="#" @click.prevent="showClassList">Klassen</a></li>
                                    <li role="presentation" :class="{active : showJam}"><a href="#" @click.prevent="showJamList">Jams</a></li>
                                </ul>
                            </div>

                            <edit-event-list
                                    v-show="showEvent"
                                    :events="events"

                                    @deleted-event="getEvents"
                                    @delete-from-events="deleteFromEvents($event)"
                            ></edit-event-list>

                            <edit-event-list
                                    v-show="showClass"
                                    :events="classes"

                                    @deleted-event="getEvents"
                                    @delete-from-events="deleteFromEvents($event)"
                            ></edit-event-list>

                            <edit-event-list
                                    v-show="showJam"
                                    :events="jams"

                                    @deleted-event="getEvents"
                                    @delete-from-events="deleteFromEvents($event)"
                            ></edit-event-list>
                        </div>
                    </div>
                </div>
            </div>


        </div>







    </div>

</template>


<script>

    module.exports = {

        props: [
            'isInitialized',
        ],

        data(){
            return {
                hasBeenInitialized: parseInt(this.isInitialized) != 0,
                isEvent: true,
                isClass: false,
                isJam: false,
                showEvent: true,
                showClass: false,
                showJam: false,

                colors: '',
                places: '',
                teachers: '',

                events: '',
                classes: '',
                jams: '',

                initial_ajax_ready: [false, false, false],
                loading: true,
                hasEvents: false,
            }
        },

        created() {

            this.getInitialData();

        },

        mounted(){

        },

        methods: {

            deleteFromEvents(index){
                this.events.splice(index, 1);
            },

            gotInitialized(){
                this.getInitialData();
                this.hasBeenInitialized = true;

            },

            showInit(){
                this.hasBeenInitialized = false;
            },

            getInitialData(){

                $.getJSON(ajaxurl, {'action': 'get_colors'}, function (data) {

                    this.colors = data;

                    this.initial_ajax_ready[0] = true;

                    if(this.initial_ajax_ready[0] && this.initial_ajax_ready[1] && this.initial_ajax_ready[2]){
                        this.loading = false;
                    }

                }.bind(this));

                $.getJSON(ajaxurl, {'action': 'get_places'}, function (data) {

                    this.places = data;

                    this.initial_ajax_ready[1] = true;

                    if(this.initial_ajax_ready[0] && this.initial_ajax_ready[1] && this.initial_ajax_ready[2]){
                        this.loading = false;
                    }

                }.bind(this));

                $.getJSON(ajaxurl, {'action': 'get_teachers'}, function (data) {

                    this.teachers = data;

                    this.initial_ajax_ready[2] = true;

                    if(this.initial_ajax_ready[0] && this.initial_ajax_ready[1] && this.initial_ajax_ready[2]){
                        this.loading = false;
                    }

                }.bind(this));

                this.getEvents();


            },

            getEvents(){
                $.getJSON(ajaxurl, {'action': 'get_events'}, function (data) {

                    for(var i in data){
                        data[i].colors = data[i].colors.split(',');
                        data[i].teachers = data[i].teachers.split(',');
                    }

                    this.events = data.filter(function (item) {
                        return parseInt(item.event_type) == 1;
                    });

                    this.classes = data.filter(function (item) {
                        return parseInt(item.event_type) == 2;
                    });

                    this.jams = data.filter(function (item) {
                        return parseInt(item.event_type) == 3;
                    });

                    this.hasEvents = true;

                }.bind(this));
            },

            showEventForm() {
                this.isEvent = true;
                this.isClass = false;
                this.isJam = false;

                setTimeout(function(){
                    $('.selectpicker').selectpicker('refresh');
                }, 1);
            },
            showClassForm() {
                this.isEvent = false;
                this.isClass = true;
                this.isJam = false;

                setTimeout(function(){
                    $('.selectpicker').selectpicker('refresh');
                }, 1);
            },
            showJamForm() {
                this.isEvent = false;
                this.isClass = false;
                this.isJam = true;

                setTimeout(function(){
                    $('.selectpicker').selectpicker('refresh');
                }, 1);
            },

            showEventList() {
                this.showEvent = true;
                this.showClass = false;
                this.showJam = false;
            },
            showClassList() {
                this.showEvent = false;
                this.showClass = true;
                this.showJam = false;
            },
            showJamList() {
                this.showEvent = false;
                this.showClass = false;
                this.showJam = true;
            }
        }
    }
</script>
