/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Kalender
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.events-breadcrump a {
    margin-right: 10px;
}

.events-pagination {
    margin-bottom: 20px;
}

.page-numbers {
    font-size: 18px;
    margin-right: 10px;
}

.page-numbers.current {
    color: #ba3925;
    font-weight: bold;
}

.kalender-table {
    margin-bottom: 20px;
    background-color: #fff;
    /*border: 1px solid #ccc;*/
    box-shadow: 0px 3px 9.7px 0.3px rgba(0, 0, 0, 0.16);
}

.table-date {
    text-align: center;
    min-width: 75px;
    max-height: 80px;
    padding-top: 5px;
}

.table-date p {
    margin-bottom: 5px;
}

.kalender-monat {
    font-size: 12px;
    text-transform: uppercase;
}

.kalender-tag {
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
}

.kalender-tag_range {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}

.kalender-jahr {
    font-size: 12px;
}

.table-desc {
    padding: 10px 10px 10px 20px;
    width: 100%;
}

.kalender-title {
    font-size: 16px;
    text-transform: uppercase;
}

.kalender-text {
    font-size: 12px;
    margin-right:10px;
}

.kalender-text .typcn {
    font-size: 14px;
    margin-right: 5px;
}

.kalender-text .glyphicon{
    margin-right: 5px;
}

.kalender-farbe {
    width:3px;
    height:20px;
    margin-right:15px;
}

.legende-farbe {
    width:20px;
    height:20px;
    margin-right:15px;
    margin-left:15px;
    margin-bottom: 10px;
}

.legende {
    vertical-align: middle;
    margin: 50px auto 50px auto;
}

#classes .kalender-title a, #classes .kalender-title a:hover {
    color: #333;
}

.kalender-place {
    position: absolute;

}
.kalender-place img{
    height: 50px;
    width: 50px;
    max-width: 50px;

    position: absolute;
    right: -25px;
    top: -10px;

    /* Safari */
    -webkit-transform: rotate(15deg);

    /* Firefox */
    -moz-transform: rotate(15deg);

    /* IE */
    -ms-transform: rotate(15deg);

    /* Opera */
    -o-transform: rotate(15deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* END Kalender Page */

/* ------------------------------------------------------------ *\
    |* ------------------------------------------------------------ *|
    |* Kalender
    |* ------------------------------------------------------------ *|
    \* ------------------------------------------------------------ */

.kalender-table {
    margin-bottom: 20px;
}

.kalender-table p {
    margin-bottom: 5px;
}

.table-date {
    text-align: center;
    min-width: 130px;
    max-height: 155px;
    padding-top: 10px;
    width: 30%;
}

.kalender-monat {
    font-size: 18px;
    text-transform: uppercase;
}

.kalender-tag {
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
}
.kalender-tag_range {
    font-size: 40px;
    line-height: 60px;
}

.kalender-jahr {
    font-size: 60px;
    font-size: 18px;
}

.table-desc {
    padding-left: 10px 10px 10px 20px;
    width: 100%;
}

.kalender-text .typcn {
    font-size: 24px;
    margin-right: 5px;
}

.kalender-text .glyphicon{
    width: 24px;
}

.kalender-title {
    font-size: 24px;
    text-transform: uppercase;
}

.kalender-text {
    font-size: 16px;
}

.kalender-farbe {
    width:5px;
    height:30px;
    margin-right:15px;
}

.lehrer-img {
    width: 20px;
    margin-right: 10px;
}

.lehrer-name {
    display: inline-block;
}

.kalender-table .material-icons {
    font-size: 20px;
    margin-right: 5px;
}

.kalender-weekday {
    font-size: 16px;
    font-weight: bold;
}

/* END Kalender Page */